@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "DepartmanPersonelSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Personel Satiş</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Adı : @ViewBag.d</li>
</ol>

<table class="table table-condensed">
    <tr>
        @*<th>Satış Id</th>*@
        <th>Ürün</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var k in Model)
     {
        <tr>
            @*<td>@k.SatisID</td>*@
            <td>@k.Urun.UrunAd</td>
            <td>@k.Cariler.CariAd @k.Cariler.CariSoyad</td>
            <td>@k.Fiyat ₺</td>
            <td>@k.Adet</td>
            <td>@k.ToplamTutar</td>
            <td>@k.Tarih</td>
            <td><a href="#" class="btn btn-outline-primary">Yazdır</a></td>
        </tr>
     }
</table>