@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "MusteriSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cari Adı : @ViewBag.cari</li>
</ol>

<table class="table table-condensed">
    <tr>
        <th>Satış Id</th>
        <th>Ürün</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.SatisID</td>
            <td>@k.Urun.UrunAd</td>
            <td>@k.Personel.PersonelAd @k.Personel.PersonelSoyad</td>
            <td>@k.Fiyat</td>
            <td>@k.Adet</td>
            <td>@k.ToplamTutar</td>
            <td>@k.Tarih</td>
            <td><a href="#" class="btn btn-outline-primary">Yazdır</a></td>
        </tr>
    }
</table>